<h1>Editing Manufacture Material</h1>

<%= render 'form', manufacture_material: @manufacture_material %>

<%= link_to 'Show', @manufacture_material %> |
<%= link_to 'Back', manufacture_materials_path %>
